body {
    background-color: black; /* Lighter gray for a brighter feel */
    color: white; /* Slightly darker gray for better readability */
    font-family: "Rubik", sans-serif;
}

h1, h2, h3 {
    color: white; 
    font-family: "Poetsen One", sans-serif;
}

p {
    color: white; 
}

.testimonial {
    background-color: black; /* White background for clean look */
    border: 1px solid #dddddd; /* Lighter gray border for a subtle contrast */
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}

#contact {
    padding: 10px;
}

/* title and nav */
.titleNav {
    display: flex;
    justify-content: space-between;
}

/* Base styles optimized for mobile */
.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar li {
    display: block; /* Full width for menu items */
    margin-right: 0; /* Remove right margin on mobile */
}

.navbar a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s; /* Smooth transition for background color */
    width: 100%; /* Full width links */
}

/* Menu button styles */
.menu-btn {
    display: flex; /* Show menu button on small screens */
    flex-direction: column;
}

.menu-btn div {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s; /* Smooth transition for menu button animations */
}

#menu-items {
    display: none; /* Initially hide menu items on mobile */
}

.menu-btn.open div:nth-child(1) {
    transform: rotate(45deg) translate(-13px, 0px);
}

.menu-btn.open div:nth-child(2) {
    opacity: 0;
}

.menu-btn.open div:nth-child(3) {
    transform: rotate(-45deg) translate(18px, -32px);
}

#menu-items.fullscreen {
    position: fixed;
    top: 95px; /* Set this to the height of your header */
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 60px);
    z-index: 1;
}

.body-no-scroll {
    overflow: hidden;
    height: 100%; /* Optional: Ensures the page height does not grow */
    width: 100%; /* Optional: Ensures the page width does not grow */
}

/* Media Query for iPhone 14 Pro Max */
@media screen and (min-width: 430px) {
    #menu-items.fullscreen {
        top: 58px;
    }
}


/* Media Query for Desktop Screens */
@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row; /* Revert flex direction */
    }

    .navbar ul {
        flex-direction: row; /* Horizontal menu */
        align-items: center;
    }

    .navbar li {
        display: inline-block; /* Align items inline for desktop */
        margin-right: 10px; /* Restore spacing */
    }

    .navbar a {
        width: auto; /* Auto width for desktop links */
    }

    .menu-btn {
        display: none; /* Hide menu button on desktop */
    }

    #menu-items {
        display: flex; /* Always show menu items on desktop */
    }

    #menu-items.fullscreen {
        position: static;
        width: auto;
        height: auto;
        background-color: transparent;
        z-index: 1; /* Lower the z-index */
    }
}

/* slides */

* {box-sizing: border-box}
.mySlides {display: none}
img {vertical-align: middle;}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.active {
  background-color: #717171;
}

.mySlides img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* Positioning and styling the arrows */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px; /* Adjust this value to center the arrow vertically */
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none; /* Prevent text selection */
}

/* Position the "next" button to the right */
.next {
    right: 0;
    border-radius: 0 3px 3px 0;
}

/* Position the "prev" button to the left */
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* Add hover effects */
.prev:hover, .next:hover {
    background-color: gray;
}


/* Media Query for Desktop Screens */
@media screen and (min-width: 768px) {
    .mySlides img {
        width: 40%; /* Smaller width on desktop */
        height: auto; /* Maintain aspect ratio */
        display: block; /* Makes img a block element which can be centered */
        margin: auto; /* Centers the block element horizontally */
    }
}



